
<div class="bottom-header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="main-menu">
                    @await Component.InvokeAsync("Navbar")
                </div>
            </div>
        </div>
    </div>
</div>