<footer class="footer-area bg-img background-overlay" style="background-image: url(/tema/img/bg-img/4.jpg);">
    <!-- Top Footer Area -->
    <div class="top-footer-area section_padding_100_70">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget -->
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-footer-widget">
                        <div class="footer-widget-title">
                            <h4 class="font-pt">Kategoriler</h4>
                        </div>
                        <ul class="footer-widget-menu">
                            <li><a href="#">Politika</a></li>
                            <li><a href="#">Teknoloji</a></li>
                            <li><a href="#">Spor</a></li>
                            <li><a href="#">Sağlık</a></li>
                            <li><a href="#">Seyahat</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Widget -->
                @*<div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="single-footer-widget">
                <div class="footer-widget-title">
                <h4 class="font-pt">Politics</h4>
                </div>
                <ul class="footer-widget-menu">
                <li><a href="#">Business</a></li>
                <li><a href="#">Markets</a></li>
                <li><a href="#">Tech</a></li>
                <li><a href="#">Luxury</a></li>
                </ul>
                </div>
                </div>
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="single-footer-widget">
                <div class="footer-widget-title">
                <h4 class="font-pt">Featured</h4>
                </div>
                <ul class="footer-widget-menu">
                <li><a href="#">Football</a></li>
                <li><a href="#">Golf</a></li>
                <li><a href="#">Tennis</a></li>
                <li><a href="#">Motorsport</a></li>
                <li><a href="#">Horseracing</a></li>
                <li><a href="#">Equestrian</a></li>
                <li><a href="#">Sailing</a></li>
                <li><a href="#">Skiing</a></li>
                </ul>
                </div>
                </div>
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <div class="single-footer-widget">
                <div class="footer-widget-title">
                <h4 class="font-pt">FAQ</h4>
                </div>
                <ul class="footer-widget-menu">
                <li><a href="#">Aviation</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Traveller</a></li>
                <li><a href="#">Destinations</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Food/Drink</a></li>
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Partner Hotels</a></li>
                </ul>
                </div>
                </div>*@
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-footer-widget">
                        <div class="footer-widget-title">
                            <h4 class="font-pt">Sayfalar</h4>
                        </div>
                        <ul class="footer-widget-menu">
                            <li><a href="~/Page/Detail">Hakkımızda</a></li>
                            <li><a href="~/Page/Contact">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-footer-widget">
                        <div class="footer-widget-title">
                            <h4 class="font-pt">Giriş Ekranı</h4>
                        </div>
                        <ul class="footer-widget-menu">
                            <li><a asp-controller="Auth" asp-action="Login" class="nav-link" style="color: white;">Giriş Yap <i aria-hidden="true"></i></a>></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>