<footer class="footer-area bg-img background-overlay" style="background-image: url(/tema/img/bg-img/4.jpg);">
    <!-- Top Footer Area -->
    <div class="top-footer-area section_padding_100_70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Footer Widget -->
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-footer-widget">
                        <div class="footer-widget-title">
                            <h4 class="font-pt">Categories</h4>
                        </div>
                        <ul class="footer-widget-menu">
                            <li><a asp-controller="Category" asp-action="Index" asp-route-categoryId="1">Politics</a></li>
                            <li><a asp-controller="Category" asp-action="Index" asp-route-categoryId="2">Technology</a></li>
                            <li><a asp-controller="Category" asp-action="Index" asp-route-categoryId="3">Sport</a></li>
                            <li><a asp-controller="Category" asp-action="Index" asp-route-categoryId="4">Health</a></li>
                            <li><a asp-controller="Category" asp-action="Index" asp-route-categoryId="5">Travel</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-footer-widget">
                        <div class="footer-widget-title">
                            <h4 class="font-pt">Pages</h4>
                        </div>
                        <ul class="footer-widget-menu">
                            <li><a href="~/Page/Detail">About Us</a></li>
                            <li><a href="~/Page/Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-footer-widget">
                        <div class="footer-widget-title">
                            <h4 class="font-pt">Sign In</h4>
                        </div>
                        <ul class="footer-widget-menu">
                            <li><a asp-controller="Auth" asp-action="Login" class="nav-link" style="color: white;">Sign In <i aria-hidden="true"></i></a>></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>