
<div class="latest-news-marquee-area">
    <div class="simple-marquee-container">
        <div class="marquee">
            <ul class="marquee-content-items">
                
                <li>
                    <a href="~/Home/Index"><span class="latest-news-time">7/24</span>The latest news here!</a>
                </li>
                <li>
                    <a href="~/Home/Index"><span class="latest-news-time">7/24</span>The latest politics news here!</a>
                </li>
                <li>
                    <a href="~/Home/Index"><span class="latest-news-time">7/24</span>The latest sports news here!</a>
                </li>
                <li>
                    <a href="~/Home/Index"><span class="latest-news-time">7/24</span>The latest technology news is here!</a>
                </li>
                <li>
                    <a href="~/Home/Index"><span class="latest-news-time">7/24</span>The latest health news is here!</a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
