<div class="middle-header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- Logo Area -->
            <div class="col-12 col-md-6">
                <div class="logo-area">
                    <a href="~/Home/Index"><img src="~/tema/img/core-img/logo3.gif" alt="logo"></a>
                </div>
            </div>
            <!-- Header Advert Area -->
            <div class="col-12 col-md-4 offset-2">
                <div class="header-advert-area">
                    <a href="https://www.google.com/aclk?sa=l&ai=DChcSEwiExNWwjIr_AhUQx3cKHbkbC4sYABABGgJlZg&sig=AOD64_1GIVxuMOMaOR21HbGDhhcCdigC9Q&q&adurl&ved=2ahUKEwiE_s-wjIr_AhWC9LsIHS5kC30Q0Qx6BAgJEAE"><img src="~/img/reklam2.jpg" style="height:150px; width:500px " alt="header-add"></a>
                </div>
            </div>
        </div>
    </div>
</div>