@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div class="flex-column h-100 bg-transparent-dark">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-8">
                <div class="align-content-center">
                    <h5 class="breaking-news-title">Breaking news</h5>
                    <div id="breakingNewsTicker" class="ticker">
                        @*<ul>
                            <li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
                            <li><a href="#">Brexit breakthrough in Brussels</a></li>
                            <li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
                            <li><a href="#">Brex comes after week of drama</a></li>
                            <li><a href="#">Brexit breakthrough in Bweek of drama</a></li>
                            <li><a href="#">Brexit bssels comes after week of drama</a></li>
                        </ul>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <nav class="navbar navbar-expand-lg">

                    <div class="me-0">

                        @if (SignInManager.IsSignedIn(User))
                        {

                            <div>
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown">

                                        <button class="nav-link btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Merhaba @UserManager.GetUserName(User)
                                        </button>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                        {
                                            
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-area="Admin" asp-action="Index" asp-controller="Home">Admin Panel</a>
                                            <a class="dropdown-item" asp-action="Logout" asp-controller="Auth" asp-area="">Log out</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" asp-area="Admin" asp-action="UserIndex" asp-controller="Home">User Panel</a>
                                                <a class="dropdown-item" asp-area="Admin" asp-action="PasswordChange" asp-controller="Setting">Password Change</a>
                                                <a class="dropdown-item" asp-area="Admin" asp-action="UserChangeDetails" asp-controller="Setting">User Settings</a>
                                                <a class="dropdown-item" asp-action="Logout" asp-controller="Auth" asp-area="">Log out</a>
                                            </div>
                                        }
                                    </li>
                                </ul>
                            </div>
                            @*<a class="btn btn-primary" asp-area="Admin" asp-controller="Setting" asp-action="PasswordChange">Şifre Değiştir</a>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Setting" asp-action="UserChangeDetails"></a>*@


                        }
                        else
                        {
                            <a asp-controller="Auth" asp-action="Login" class="nav-link" style="color: bla;">Giriş Yap <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>

                        }
                    </div>
                    <!-- Search btn -->
                </nav>
            </div>
        </div>
    </div>
    </div>
   

