@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div class="top-header">

	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12 col-md-8">
				<div class="breaking-news-area">
					<h5 class="breaking-news-title">Breaking news</h5>
					<div id="breakingNewsTicker" class="ticker">
						<ul>
							<li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
							<li><a href="#">Brexit breakthrough in Brussels</a></li>
							<li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
							<li><a href="#">Brex comes after week of drama</a></li>
							<li><a href="#">Brexit breakthrough in Bweek of drama</a></li>
							<li><a href="#">Brexit bssels comes after week of drama</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<nav class="navbar">

					<div class="me-0">

						@if (SignInManager.IsSignedIn(User))
						{

							<div class="nav-item dropdown">
								<button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Merhaba @UserManager.GetUserName(User)
								</button>
							
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							@*<a class="btn btn-primary" asp-area="Admin" asp-controller="Setting" asp-action="PasswordChange">Şifre Değiştir</a>
						   <a class="btn btn-primary" asp-area="Admin" asp-controller="Setting" asp-action="UserChangeDetails"></a>*@


						}
						else
						{
							<a asp-controller="Auth" asp-action="Login" class="nav-link" style="color: white;">Giriş Yap <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>

						}
					</div>
					<!-- Search btn -->
				</nav>
			</div>
			



		</div>



	</div>

</div>
</div>
@*<style>
	.dropdown-menu {
	background-color: darkblue;
	}
	</style>*@
