<section class="gazatte-video-post-area section_padding_100_70 bg-gray">
    <div class="container">
        <div class="row">
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/4.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=G1EvoX6lf-Y" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">Show suspended by PBS amid misconduct allegations</a></h5>
                </div>
            </div>
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/5.jpg" alt="">
                        <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">Parents to Congress</a></h5>
                </div>
            </div>
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/6.jpg" alt="">
                        <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">Third Buy Alert for This “Millionaire Maker” Stock</a></h5>
                </div>
            </div>
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/7.jpg" alt="">
                        <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">The Chicago Mercantile Exchange is set to begin</a></h5>
                </div>
            </div>
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/8.jpg" alt="">
                        <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">Trading bitcoin futures</a></h5>
                </div>
            </div>
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/9.jpg" alt="">
                        <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">Are ‘Micro-Mansions’ the Next Big Thing?</a></h5>
                </div>
            </div>
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/10.jpg" alt="">
                        <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">McKinney’s target market</a></h5>
                </div>
            </div>
            <!-- Single Video Post Start -->
            <div class="col-12 col-md-3">
                <div class="single-video-post">
                    <div class="video-post-thumb">
                        <img src="~/tema/img/blog-img/11.jpg" alt="">
                        <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>
                    <h5><a href="#">Australian Property Prices Remain Flat</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>