@model NewsListDto
<section class="gazatte-video-post-area section_padding_100_70 bg-gray">
    <div class="container">
        <div class="row">
            <!-- Single Video Post Start -->
            @foreach (var item in Model.News.OrderBy(t => t.CreatedAt).Skip(7).Take(8).ToList())
            {
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src="~/img/news/@item.ImagePath" alt="">

                        </div>
                        <h5><a href="News/Details/@Url.FriendlyUrl(item.Title)/@item.Id">@item.Title</a></h5>
                    </div>
                </div>
               
            }
            
            <!-- Single Video Post Start -->
            
        </div>
    </div>
</section>