@model Contact
<div class="breadcumb-area section_padding_50">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breacumb-content d-flex align-items-center justify-content-between">
					<h3 class="font-pt mb-0">Contact</h3>
					<p class="editorial-post-date text-dark mb-0">28 November 2017</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="gazette-contact-area section_padding_100">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="gazette-heading">
					<h4 class="font-bold">Message</h4>
				</div>
				<!-- Contact Form -->
				<form asp-controller="page" asp-action="contact" method="post">
					<div class="form-group">
						<input asp-for="Name" type="text" class="form-control" id="contact-name" placeholder="Enter Your Full Name">
					</div>
					<div class="form-group">
						<input asp-for=Email type="email" class="form-control" id="contact-email" placeholder="Email">
					</div>
					<div class="form-group">
						<textarea asp-for="Message" class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
					</div>
					<button type="submit" class="btn contact-btn">SUBMIT <i class="fa fa-angle-right ml-2"></i></button>
				</form>
			</div>
			<div class="col-12 col-md-4">
				<div class="gazette-heading">
					<h4 class="font-bold">address</h4>
				</div>
				<div class="contact-address-info mb-50">
					<p>
						Address: Kemankeş Karamustafa Paşa Mah. Alipaşa Değirmeni Sok. No:3  <br> City / State: Karaköy / İstanbul, AL 34560 <br> Phone: 850-272-7454
					</p>
				</div>
				<div class="gazette-heading">
					<h4 class="font-bold">Phone</h4>
				</div>
				<div class="contact-address-info">
					<p>Phone #1:  850-272-7454 <br>Phone #2:  850-272-7454 <br>Phone #3:  850-272-7454 <br>Phone #4: 850-272-7454</p>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="googleMap" style="position: relative; overflow: hidden;">
	<div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
	
		<div class="container">
			<div class="gm-err-content text-center">				
						<div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" alt="" draggable="false" style="user-select: none;"></div>
				<div class="gm-err-title ">Hata! Bir sorun oluştu.</div>
				<div class="gm-err-message">Bu sayfa Google Haritalar'ı düzgün şekilde yükleyemedi. Teknik ayrıntılar için JavaScript konsoluna bakın.</div>
			</div>
		</div>
	</div>
</div>
