@model ResetPasswordDto
@{
	Layout = null;
	ViewData["Title"] = "Password Reset";
}

<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>@ViewBag.Title | AspNetMvcNews </title>
	<link href="~/admintema/css/styles.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>

			
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header"><h3 class="text-center font-weight-light my-4">Reset Password</h3></div>
								<div class="card-body">
									@if (TempData["MessageAuth"] != null)
									{
										<div class="alert alert-success mt-2 text-center" role="alert">
											@Html.Raw(TempData["MessageAuth"])
											Please return to <a asp-controller="Auth" asp-action="Login">Login</a> page.
										</div>

									}
									<form asp-action="ResetPassword" asp-controller="Auth" method="post" >
										<div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
										<input asp-for="TokenCode" type="hidden"/>
										<div class="form-group">
											<label class="small mb-1" asp-for="Email">Email</label>
											<input class="form-control" asp-for="Email" type="email" placeholder="Enter email address" />
											<span class="text-danger" asp-validation-for="Email"></span>
										</div>
										<div class="form-group">
											<label class="small mb-1" asp-for="Password">New Password</label>
											<input class="form-control py-4" asp-for="Password" type="password" placeholder="Enter password" />
											<span class="text-danger" asp-validation-for="Password"></span>

										</div>
										<div class="form-group">
											<label class="small mb-1" asp-for="RepeatPassword">New Password Confirm</label>
											<input class="form-control py-4" asp-for="RepeatPassword" type="password" placeholder="Confirm password" />
											<span class="text-danger" asp-validation-for="RepeatPassword"></span>

										</div>
										<div class="form-group text-center mt-5">
										
											<button type="submit" class="btn btn-primary">Reset Password</button>
										</div>
									</form>
								</div>							
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Tüm Telif Hakları Saklıdır &copy; AspNetMvcNews 2023</div>
						<div>
							<a href="#">Gizlilik Politikası</a>
							&middot;
							<a href="#">Şartlar &amp; Koşullar</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="~/admintema/js/scripts.js"></script>
	@await Html.PartialAsync("_ValidationScriptsPartial");
</body>
</html>
