@model CategoryListDto

<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
    <div class="collapse navbar-collapse" id="gazetteMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Home">Home Page <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-action="Detail" asp-controller="Page">About Us</a>
                    <a class="dropdown-item" asp-action="Contact" asp-controller="Page">Contact</a>
                </div>
            </li>
            @foreach (var item in Model.Categories)
            {

                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Category" asp-route-categoryId="@item.Id">@item.Name</a>
                </li>
            }

        </ul>
        <!-- Search Form -->
        <div class="header-search-form mr-auto">
            <form asp-action="Search" asp-controller="News" method="get">
                <input type="search" placeholder="Input your keyword then press enter..." id="keyword" name="keyword">
                <input class="d-none" type="submit" value="submit">
            </form>
        </div>
        <!-- Search btn -->
        <div id="searchbtn">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
</nav>