@model UserPasswordChangeDto

@{
    Layout = null;
    ViewBag.Title = "Şifre Değiştir";
}
<link href="~/admintema/css/styles.css" rel="stylesheet" />
<link href="~/admintema/css/site.css" rel="stylesheet" />
<div class="container">
   
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card mt-5">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-key"></span> Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-action="PasswordChange" method="post" >

                    <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-success mt-2" role="alert">
                                @TempData["Message"] Please click to go to the <a asp-area="" asp-controller="Home" asp-action="Index">home page</a>
                            </div>
                        }
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Current Password" />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input type ="password" class="form-control" asp-for="RepeatPassword" placeholder="Repeat New Password" />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
             
                    <div class="form-group mt-5">
                        <a class="btn btn-danger " asp-area="Admin" asp-action="UserIndex" asp-controller="Home"><span class="fas fa-times"></span> İptal</a>
                        <button type="submit" class="btn btn-primary"><span class="fas fa-times"></span> Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script src="~/admintema/js/scripts.js"></script>
<script src="~/admintema/js/site.js"></script>

