@model UserPasswordChangeDto

@{
    ViewBag.Title = "Şifre Değiştir";
}
<div class="row">
    <div class="colcol-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-key"></span> Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-action="PasswordChange" method="post" >

                    <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Lütfen şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Lütfen yeni şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input type ="password" class="form-control" asp-for="RepeatPassword" placeholder="Lütfen yeni şifrenizi tekrar giriniz." />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
             
                    <div class="form-group mt-5">
                        <a class="btn btn-danger " asp-area="Admin" asp-action="Index" asp-controller="Home"><span class="fas fa-times"></span> İptal</a>
                        <button type="submit" class="btn btn-primary"><span class="fas fa-times"></span> Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>