@model App.Entities.Dtos.UserDtos.UserUpdateDto

@{
    Layout = null;
	ViewBag.Title="Profil Düzenle";
}
<link href="~/admintema/css/styles.css" rel="stylesheet" />
<link href="~/admintema/css/site.css" rel="stylesheet" />
<div class="container">
   
<div class="row">
	<div class="col-lg-6 offset-lg-3">
		<div class="card mt-5">
			<div class="card-header">
				<h4 class="text-center"><span class="fas fa-edit"></span> Profil Düzenle</h4>
			</div>
			<div class="card-body">
                <form asp-action="UserChangeDetails" method="post" enctype="multipart/form-data">
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-success mt-2" role="alert">
                                @TempData["Message"] Please click to go to the <a asp-area="" asp-controller="Home" asp-action="Index">home page</a>
                            </div>
                        }
                    <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input class="form-control" asp-for="UserName" placeholder="Lütfen kullanıcı adı giriniz." />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class="form-control" type="email" asp-for="Email" placeholder="Lütfen e-posta adresi giriniz." />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input asp-for="Picture" type="hidden" />
                        <img class="image-style" src="~/img/user/@Model.Picture" alt="@Model.UserName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureFile"></label>
                        <input class="form-control-file" type="file" accept="image/*" asp-for="PictureFile" />
                        <span class="text-danger" asp-validation-for="PictureFile"></span>
                    </div>
                    <div class="form-group mt-5">
                        <a class="btn btn-danger " asp-area="Admin" asp-action="UserIndex" asp-controller="Home"><span class="fas fa-times"></span> İptal</a>
                        <button type="submit" class="btn btn-primary"><span class="fas fa-times"></span> Kaydet</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>
</div>
<script src="~/admintema/js/scripts.js"></script>
<script src="~/admintema/js/site.js"></script>